html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.chatIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.chatIcon:hover {
  transform: scaleX(-1);
  transition-duration: 1s;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-image: url(../../icons/background.jpg);
  background-size: cover;
  
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(168, 18, 255);
    opacity: 0.5;
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
    border: none;
    width: 100%;
    font-size: 20px;
    transition-duration: 0.4s;
}
.button:hover {
  opacity: 1;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }


}

button:focus {
  outline: 0;
}

.footer {
  color: #FFFFFF;
}
